certifi==2022.12.7
chardet==3.0.4
Django==1.11.4
django-environ==0.4.4
django-extensions==1.9.0
django-filter==1.0.4
django-test-plus==1.0.18
djangorestframework==3.6.4
graphene==1.4.1
graphql-core==1.1
graphql-relay==0.4.5
idna==2.6
Markdown==2.6.9
promise==2.0.2
psycopg2==2.7.3.1
pytz==2017.2
requests==2.18.4
six==1.10.0
typing==3.6.2
urllib3==1.22
